<!DOCTYPE html>
<h2><strong>DISCLAIMER<br /></strong></h2>
<p>Last updated&nbsp;June 05, 2022</p>
<h3><strong>WEBSITE DISCLAIMER</strong></h3>
<p>The information provided by Wei-Chih, Chen in NYCU ("we," "us," or "our") on <a
        href="https://nycu-wisepaas.onthewifi.com/">https://nycu-wisepaas.onthewifi.com</a> (the "Site") is for
    general informational purposes only.<br />All information on the Site is provided in good faith, however we make no
    representation or warranty of any kind, express or implied, regarding the accuracy, adequacy, validity, reliability,
    availability, or completeness of any information on the Site.UNDER NO CIRCUMSTANCE SHALL WE HAVE ANY LIABILITY TO
    YOU FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF&nbsp;THE SITE&nbsp;OR RELIANCE ON ANY
    INFORMATION PROVIDED ON&nbsp;THE SITE.<br />YOUR USE OF&nbsp;THE SITE&nbsp;AND YOUR RELIANCE ON ANY INFORMATION
    ON&nbsp;THE SITE&nbsp;IS SOLELY AT YOUR OWN RISK.</p>
<h3><strong>EXTERNAL LINKS DISCLAIMER<br /></strong></h3>
<p>The Site may contain (or you may be sent through the Site) links to other websites or content belonging to or
    originating from third parties or links to websites and features in banners or other advertising.<br />Such external
    links are not investigated, monitored, or checked for accuracy, adequacy, validity, reliability, availability, or
    completeness by us.<br />WE DO NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR THE ACCURACY OR
    RELIABILITY OF ANY INFORMATION OFFERED BY THIRD-PARTY WEBSITES LINKED THROUGH THE SITE OR ANY WEBSITE OR FEATURE
    LINKED IN ANY BANNER OR OTHER ADVERTISING.<br />WE WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR
    MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES.</p>
<p>&nbsp;</p>
<h2>免責聲明</h2>
<div class="col_md_6">
    <p>歡迎您光臨CCBDA期末作業網站(以下簡稱本網站)，任何瀏覽網站的人士，須自行承擔一切風險，
        本網站不會負責任何因瀏覽或使用本網站而引致之損失。本網站不會作出任何默示的擔保。</p>
    <p>本網站承諾力求網站內容之準確性及完整性，但內容如有錯誤或遺漏，本網站不會承擔任何賠償責任，所有本網站內容，
        將會隨時更改，而不作另行通知。本網站可隨時停止或變更網頁資料及有關條款而毋須事前通知用戶。</p>
</div>
<div class="col_md_6">
    <p>本網站不會對使用或連結本網頁而引致任何損害(包括但不限於電腦病毒、系統固障、資料損失)、誹謗、侵犯版權或知識產權所造成的損失，
        包括但不限於利潤、商譽、使用、資料損失或其他無形損失，本網站不承擔任何直接、間接、附帶、特別、衍生性或懲罰性賠償。
    </p>
    <p>本網站可能會連接至其他機構所提供的網頁，本網站不會對這些網頁內容作出任何保證或承擔任何責任。使用者如瀏覽這些網頁，
        將要自己承擔後果。是否使用本網站之服務下載或取得任何資料應由用戶自行考慮且自負風險，
        因前開任何資料之下載而導致用戶電腦系統之任何損壞或資料流失，本網站不承擔任何責任。
    </p>
</div>